.bookcar .car-img{
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.submit-car-booked{
    top: 31%;
}
@media (max-width:600px) {
    .bookcar .car-img{
        height: 100px;
    }
}