.greeting{
    font-weight: 200 !important;
    word-spacing: 5px;
}
.dashboard .label .bg-light{
    background-color: white !important;
}

.form1 {
    font-family: "Inter", sans-serif;
    /* width: 270px; */
    color: black;
    font-size: 14px;
    padding: 30px 0px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-image: linear-gradient(#f5f5f5, #f5f5f5),
      linear-gradient(120deg, transparent 25%, #84A2CF, #0D4399);
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;

  }
  .form1 input {
    width: 100%;
    color: black;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #84A2CF;
    background-color: transparent;
  }
  .form1 button {
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 4px;
    background-color: #0D4399;
  }
  .form1 .inputBox {
    position: relative;
    margin-left: -20px;
  }
  .form1 .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    padding: 11px 6px;
    transition: 0.5s all ease-in-out;
  }
  .form1 p {
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
    color: rgb(176, 181, 190);
  }
  .form1 p a {
    color: #5a28cc;
    font-size: 12px;
    font-weight: 500;
    padding-left: 3px;
    text-decoration: none;
  }
  .form1 input:focus {
    border-color: #2e1e8a;
    box-shadow: none;
  }
  .form1 .inputBox input:not(:placeholder-shown) ~ label,
  .form1 .inputBox input:focus ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    padding: 10px 2px 0;
    background-color: #f5f5f5;
  }
  .form1 button:hover {
    background: rgb(104, 81, 238);
  }
  .form1 p a:hover {
    text-decoration: underline #5a28cc;
  }
  
  @media (max-width:600px) {
    .carImgUpd{
      box-shadow: none !important;
      height:auto !important;
    }
  }

  @media (max-width:600px) {
    .sm-scroll{
      overflow-x: scroll;
    }
    .sm-scroll .table{
      width: 610px;

    }
  }