.general-car-loader{
    background-color: rgba(0, 0, 0, 0.38);
}
.loader2 {
    animation: l6 1s 1 cubic-bezier(0,0.2,1,1);
    margin-left: 0%;
  }
  
  .loader3 {
    margin-left: 80%;
    transform: scaleX(-1);
    animation: l7 1s 1 cubic-bezier(0,0.2,1,1);
  }
  
  .loader2, .loader3 {
    width: 40px;
    height: 25px;
    background-image: url('../assets/bluecar-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
  }
  
  @keyframes l6 {
    100% {
      margin-left: 80%;
      display: none;
    }
  }
  
  @keyframes l7 {
    100% {
      margin-left: 0%;
      transform: scaleX(-1);
      display: none;
    }
  }
  
  .loader-holder {
    position: absolute;
    height: 70px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  @media (max-width: 600px) {
    .loader3 {
      animation-duration: 3.5s;
    }
  }
  